<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Message Board</h1>
    <div class="messagewrapper">
        <%messages.forEach(msg=>{%>
            <a href=<%="/"+msg.id%> class="msg">
            <p class="text"><%=msg.text%></p>
            <div class="bottom">
                <h3><%=msg.username%></h3>
            <p class="date"><%=msg.added%></p>
            </div>
            
            </a>
        <%})%>
    </div>
    <br/>
    <a href="/new" id="new"><img src="/add.svg"></a>
</body>
</html>