<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Message Board</h1>
    <div class="messagewrapper">
        <%messages.forEach(msg=>{%>
            <h3><%=msg.user%></h3>
            <p><%=msg.text%></p>
            <p><%=msg.added%></p>
        <%})%>
    </div>
    <a href="/new">Add new note</a>
</body>
</html>