body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
    height: 100vh;
}

h1{
    margin-left: 60px;
}

h3{
    margin: 0;
    margin-bottom: 5px !important;
}

.messagewrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    gap: 10px;
    margin: 60px 20px;
}

.msg{
    padding: 10px 20px;
    width: 350px;
    height: 200px;
    text-decoration: none;
    color: black;
    transition: all 100ms ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.msg:hover{
    transform: scale(1.1);
}

/* First child: green */
.msg:nth-of-type(4n + 1) {
    background-color: lightgreen;
}

/* Second child: yellow */
.msg:nth-of-type(4n + 2) {
    background-color: yellow;
}

/* Third child: blue */
.msg:nth-of-type(4n + 3) {
    background-color: lightblue;
}

/* Fourth child: coral */
.msg:nth-of-type(4n + 4) {
    background-color: lightcoral;
}

button {
    border-radius: 23px;
    font-weight: bold;
    padding: 20px 40px;
}

#new {
    width: 32px;
    height: 32px;
    border-radius: 42px !important;
    padding: 20px;
    border: 1px solid white;
}

img{
    width: 2.1rem;
    height: 2.1rem;
}

#new, button{
    background-color: black;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    transition: all 100ms ease;
}

#new:hover, button:hover{
    transform: scale(1.1);
    border-radius: 40px;
}

#new:active, button:active{
    background-color: rgb(30, 30, 30);
    border: 1px solid black;
    text-decoration: none;
    color: white;
}

#new{
    position: fixed;
    bottom: 5%;
    right: 2%;
}

.date{
    color: rgb(66, 66, 66);
    margin-top: 0;
}

.text{
    font-size: 20px;
    overflow-wrap: break-word;
}

.newmsghead{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    margin-bottom: 10px;
}

input{
    width: 500px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 92);
}

textarea{
    width: 500px;
    height: 200px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 92, 92);
}

button{
    padding: 20px 20px;
    width: 220px;
    margin-top: 40px;
}

.error{
    /* width: 100%; */
    color: red;

}